<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>2FA</title>
</head>
<body>
  <%= erb :alert, locals: locals %>

  <div class="main">
    <%= yield %>
  </div>
</body>
</html>