<form action="/login" method="post">
   <h2>Two-Factor Authentication (2FA) App</h2>
   <h4>Authenticate using your account information</h4>
  <p id="loginResponse"></p>
  <div>
    <ul>
      <li>
        <label>User Email : </label>
        <input type="text" id="userEmail" name="email"/>
      </li>
      <li>
       <label>Password : </label>
       <input type="password" id="password" name="password" />
      </li>
     </ul>
 </div>
<button type="submit">Login</button>
</form>
